body {
  display: block; }

.ps-3c-openy-memberships-block.block-description--3 {
  display: flex;
  padding: 0 5px; }
  .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-left, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-center, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-right {
    border: solid 1px #92278f;
    border-top: solid 5px #92278f;
    padding-bottom: 5px; }
    .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-left .media img, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-center .media img, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-right .media img {
      height: auto;
      width: 100%; }
    .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-left h2.with-icon, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-center h2.with-icon, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-right h2.with-icon {
      color: black;
      font-family: "Cachet Medium", Verdana, Geneva, sans-serif;
      font-size: 18px;
      line-height: 27px;
      padding: 5px; }
    .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-left .field-sb-body, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-center .field-sb-body, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-right .field-sb-body {
      color: black;
      font-size: 12px;
      line-height: 18px;
      padding: 0 5px 5px; }
    .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-left a.btn, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-center a.btn, .ps-3c-openy-memberships-block.block-description--3 .field-prgf-3c-right a.btn {
      margin: 0; }
