body {
  display:block;
}
.ps-3c-openy-memberships-block.block-description--3 {
  margin: 0;

  .block-description--text {
    padding: 0;

    h2.with-icon {
      margin: 0;
      padding: 0;
    }
  }
}
