.ps-block_container-openy-memberships-accordion {
  color: #231f20; }
  .ps-block_container-openy-memberships-accordion .field-block-ref .field-fc-title {
    border: 1px solid #707070;
    padding: 12px 10px 11px 10px;
    cursor: pointer;
    font-family: "Cachet W01 Book", "Ubuntu Condensed", sans-serif;
    font-size: 18px;
    line-height: 27px; }
    .ps-block_container-openy-memberships-accordion .field-block-ref .field-fc-title:after {
      position: absolute;
      right: 18px;
      content: '+';
      font-size: 24px;
      color: #636466; }
    .ps-block_container-openy-memberships-accordion .field-block-ref .field-fc-title.active:after {
      content: '\2013'; }
  .ps-block_container-openy-memberships-accordion .field-block-ref .field-fc-body {
    display: none;
    padding: 10px;
    background-color: #f2f2f2;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px; }
