.ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #231f20; }
  .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 80px 1fr;
    grid-auto-rows: min-content; }
    .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref .field-fc-icon-class {
      grid-row: 1 / span 2;
      justify-self: center;
      color: white;
      background-color: #92278f;
      height: 80px;
      width: 80px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px; }
    .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref .field-fc-title {
      grid-column: 2;
      font-family: "Cachet", Verdana, Geneva, sans-serif;
      font-size: 14px;
      line-height: 21px; }
    .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref .field-fc-body {
      grid-column: 2;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 12px;
      line-height: 18px; }
    .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref > div:nth-child(4) {
      grid-column: 2; }
      .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref > div:nth-child(4) a.btn {
        margin: 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        display: initial;
        color: #0060af;
        text-transform: capitalize;
        border-radius: 0;
        border: none;
        padding: 0; }
        .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref > div:nth-child(4) a.btn:hover {
          background-color: white; }
  @media all and (min-width: 600px) {
    .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; }
      .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref {
        grid-gap: 10px; } }
  @media all and (min-width: 1060px) {
    .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref {
      grid-gap: 30px;
      padding-top: 30px;
      padding-bottom: 30px; }
      .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref {
        grid-template-columns: 120px 1fr;
        grid-gap: 15px; }
        .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref .field-fc-icon-class {
          color: #636466;
          background-color: #f2f2f2;
          height: 120px;
          width: 120px;
          border-radius: 60px;
          font-size: 48px; }
        .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref .field-fc-title {
          font-size: 18px;
          line-height: 27px; }
        .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref .field-fc-body {
          font-size: 14px;
          line-height: 21px; }
        .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref > div:nth-child(4) a.btn {
          font-size: 14px;
          line-height: 21px; }
          .ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref .field-block-ref > div:nth-child(4) a.btn:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f35d"; } }
