.ps-block_container-openy-memberships-block2 .wrapper-field-block-ref {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 15px;
  color: #231f20; }
  .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref {
    border: solid 1px #92278f;
    border-top: solid 5px #92278f;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref .field-fc-image {
      display: none; }
    .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref .field-fc-title {
      font-family: "Cachet", Verdana, Geneva, sans-serif;
      font-size: 18px;
      line-height: 27px;
      padding: 5px; }
    .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref .field-fc-body {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 12px;
      line-height: 18px;
      padding: 0 5px 5px; }
    .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref div:last-of-type {
      margin-top: auto; }
      .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref div:last-of-type a.btn {
        margin: 0;
        font-family: "Cachet", Verdana, Geneva, sans-serif;
        font-size: 14px;
        line-height: 21px;
        display: block;
        background-color: #0060af;
        padding: 11px;
        color: white;
        text-transform: uppercase;
        border-radius: 0; }
  @media all and (min-width: 600px) {
    .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref {
      grid-gap: 20px; }
      .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref .field-fc-title {
        padding: 10px; }
      .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref .field-fc-body {
        padding: 0 10px 10px; } }
  @media all and (min-width: 1060px) {
    .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref {
      grid-gap: 20px; }
      .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref .field-fc-title {
        font-size: 24px;
        line-height: 36px;
        padding: 15px; }
      .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref .field-fc-body {
        font-size: 14px;
        line-height: 21px;
        padding: 0 15px 15px; }
      .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref div:last-of-type a.btn {
        font-size: 18px;
        line-height: 27px;
        padding: 14px;
        color: white; }
      .ps-block_container-openy-memberships-block2 .wrapper-field-block-ref .field-block-ref:last-of-type div:last-of-type a.btn:after {
        content: "\f062";
        font-family: "Font Awesome 5 Free";
        color: white;
        font-weight: 900;
        display: inline-block;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -o-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg); } }
