.ps-webform-openy-memberships-free-trial form {
  padding-top: 0; }
  .ps-webform-openy-memberships-free-trial form label {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px; }
  @media all and (min-width: 1060px) {
    .ps-webform-openy-memberships-free-trial form label {
      font-size: 14px;
      line-height: 21px; } }
  .ps-webform-openy-memberships-free-trial form .webform-flexbox {
    margin: 0;
    padding-top: 0;
    justify-content: space-between; }
    .ps-webform-openy-memberships-free-trial form .webform-flexbox .webform-flex {
      flex: none;
      width: 100%; }
      .ps-webform-openy-memberships-free-trial form .webform-flexbox .webform-flex .webform-flex--container {
        margin: 0; }
        .ps-webform-openy-memberships-free-trial form .webform-flexbox .webform-flex .webform-flex--container .form-item {
          margin: 0; }
    @media all and (min-width: 700px) {
      .ps-webform-openy-memberships-free-trial form .webform-flexbox {
        padding-top: 30px; }
        .ps-webform-openy-memberships-free-trial form .webform-flexbox .webform-flex {
          width: 48%; } }
  .ps-webform-openy-memberships-free-trial form .form-tel, .ps-webform-openy-memberships-free-trial form .form-control {
    height: 50px;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 0;
    font-size: 12px;
    text-shadow: none;
    padding: 6px 12px 6px 5px;
    margin: 0; }
  .ps-webform-openy-memberships-free-trial form .form-type-select {
    margin: 0; }
    @media all and (min-width: 700px) {
      .ps-webform-openy-memberships-free-trial form .form-type-select {
        padding-top: 30px; } }
  .ps-webform-openy-memberships-free-trial form .input-wrapper {
    text-align: center; }
    .ps-webform-openy-memberships-free-trial form .input-wrapper input {
      font-family: "Cachet", Verdana, Geneva, sans-serif !important;
      font-weight: normal !important;
      text-transform: uppercase;
      background-color: #92278f;
      color: white;
      margin-top: 30px;
      padding: 15px 30px;
      font-size: 16px;
      line-height: 30px; }
      @media all and (min-width: 1060px) {
        .ps-webform-openy-memberships-free-trial form .input-wrapper input {
          font-size: 24px;
          line-height: 36px;
          padding: 15px 40px; } }
      .ps-webform-openy-memberships-free-trial form .input-wrapper input:hover {
        background-color: #92278f;
        border-color: #92278f; }
