div.ui-dialog.ui-widget {
  z-index: 1500;
  padding: 0;

  .ui-dialog-titlebar {
    font-family:      $font-family-cachet;
    font-size:        18px;
    font-weight:      normal;
    line-height:      27px;
    padding:          12px 10px 11px;
    text-transform:   uppercase;
    color:            $shuttle-grey;
    border:           initial;
    border-bottom:    1px solid $shuttle-grey;
    border-radius:    0;
    background-color: $white;

    .ui-dialog-title {
      font-size:   18px;
      line-height: 27px;
      margin:      0;
      color:       $shuttle-grey;
    }

    .ui-dialog-titlebar-close,
    button {
      line-height:      20px;
      position:         absolute;
      top:              0;
      right:            0;
      width:            51px;
      height:           51px;
      margin:           0;
      padding:          16px;
      opacity:          1;
      color:            white;
      background-color: $dark-blue !important;

      .ui-icon {
        background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_ffffff_256x240.png");
      }

      &:before {
        content: 'X';
      }
    }
  }

  .ui-dialog-content {
    height:     initial !important;
    max-height: initial !important;
    padding:    10px;

    .banner {
      display: none;
    }

    .breadcrumbs-wrapper {
      display: none !important;
    }

    .openy-page-tabs {
      display: none;
    }

    > .container {
      margin:  0;
      padding: 0;
    }
  }

  // Overrides for Openy Lily theme.
  &.openy-lily-dialog-theme {
    .ui-dialog-titlebar {
      background-color: #92278f;

      .ui-dialog-title {
        color: #fff;
      }
    }
  }

  &.openy-rose-dialog-theme {
    .paragraph--type--simple-content {
      padding-top: 0;
    }
  }
}

.ui-widget-overlay {
  opacity: .5;
}
