div.ui-dialog.ui-widget {
  padding: 0;
  z-index: 1500;

  .ui-dialog-titlebar {
    background-color: $white;
    font-family: $font-family-cachet;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    padding: 12px 10px 11px;
    text-transform: uppercase;
    color: $shuttle-grey;
    border: initial;
    border-bottom: 1px solid $shuttle-grey;
    border-radius: 0;

    .ui-dialog-title {
      margin: 0;
      color: $shuttle-grey;
      font-size: 18px;
      line-height: 27px;
    }

    .ui-dialog-titlebar-close,
    button {
      color: white;
      padding: 16px;
      background-color: $dark-blue !important;
      margin: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
      height: 51px;
      width: 51px;
      line-height: 20px;

      .ui-icon {
        background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_ffffff_256x240.png");
      }

      &:before {
        content: 'X';
      }
    }
  }
  .ui-dialog-content {
    padding: 10px;
    height: initial !important;
    max-height: initial !important;

    .banner {
      display: none;
    }

    .breadcrumbs-wrapper {
      display: none !important;
    }

    .openy-page-tabs {
      display: none;
    }

    > .container {
      margin: 0;
      padding: 0;
    }
  }
}

.ui-widget-overlay {
  opacity: .5;
}
