$white: ffffff;
$dark-blue: #0060af;
$deep-sky-blue: #00AEEF;
$dark-purple: #92278f;
$free-speech-red: #CC0000;
$green: #006600;
$whisper: #eeeeee;
$white-smoke: #F2F2F2;
$very-light-grey: #cccccc;
$nobel: #979797;
$shuttle-grey: #636466;
$dim-grey: #707070;
$aubergine: #231f20;
