@import 'variables';

.ps-block_container-openy-memberships-block2-benefits .wrapper-field-block-ref {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $aubergine;

  .field-block-ref {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 80px 1fr;
    grid-auto-rows: min-content;

    .field-fc-icon-class {
      grid-row: 1 / span 2;
      justify-self: center;
      color: white;
      background-color: $dark-purple;
      height: 80px;
      width: 80px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
    }

    .field-fc-title {
      grid-column: 2;
      font-family: $font-family-cachet;
      font-size: 14px;
      line-height: 21px;
    }

    .field-fc-body {
      grid-column: 2;
      font-family: $font-family-verdana;
      font-size: 12px;
      line-height: 18px;
    }

    > div:nth-child(4) {
      grid-column: 2;
      a.btn {
        margin: 0;
        font-family: $font-family-verdana;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        display: initial;
        color: $dark-blue;
        text-transform: capitalize;
        border-radius: 0;
        border: none;
        padding: 0;

        &:hover {
          background-color: white;
        }
      }
    }
  }

  @media all and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .field-block-ref {
      grid-gap: 10px;
    }
  }

  @media all and (min-width: 1060px) {
    grid-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    .field-block-ref {
      grid-template-columns: 120px 1fr;
      grid-gap: 15px;

      .field-fc-icon-class {
        color: $shuttle-grey;
        background-color: $white-smoke;
        height: 120px;
        width: 120px;
        border-radius: 60px;
        font-size: 48px;
      }

      .field-fc-title {
        font-size: 18px;
        line-height: 27px;
      }

      .field-fc-body {
        font-size: 14px;
        line-height: 21px;
      }

      > div:nth-child(4) {
        a.btn {
          font-size: 14px;
          line-height: 21px;

          &:before {
            font-family: $font-family-font-awesome;
            font-weight: 900;
            content: "\f35d";
          }
        }
      }
    }
  }
}
