@import 'variables';

.ps-block_container-openy-memberships-block2 .wrapper-field-block-ref {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 15px;
  color: $aubergine;

  .field-block-ref {
    border-left: solid 1px $shuttle-grey;
    border-right: solid 1px $shuttle-grey;
    border-top: solid 5px $dark-purple;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .field-fc-image {
      display: none;
    }

    .field-fc-title {
      font-family: $font-family-cachet;
      font-size: 18px;
      line-height: 27px;
      padding: 5px;
    }

    .field-fc-body {
      font-family: $font-family-verdana;
      font-size: 12px;
      line-height: 18px;
      padding: 0 5px 5px;
    }

    div:last-of-type, .field-fc-link {
      margin-top: auto;
      text-align: center;
      margin-left: -1px;
      margin-right: -1px;

      a {
        margin: 0;
        font-family: $font-family-cachet;
        font-size: 14px;
        line-height: 21px;
        display: block;
        background-color: $dark-blue;
        padding: 11px;
        color: white;
        text-transform: uppercase;
        border-radius: 0;
      }
    }
  }

  @media all and (min-width: 600px) {
    grid-gap: 20px;

    .field-block-ref {
      .field-fc-title {
        padding: 10px;
      }

      .field-fc-body {
        padding: 0 10px 10px;
      }
    }
  }

  @media all and (min-width: 1060px) {
    grid-gap: 20px;

    .field-block-ref {
      .field-fc-title {
        font-size: 24px;
        line-height: 36px;
        padding: 15px;
      }

      .field-fc-body {
        font-size: 14px;
        line-height: 21px;
        padding: 0 15px 15px;
      }

      div:last-of-type {
        a.btn {
          font-size: 18px;
          line-height: 27px;
          padding: 14px;
          color: white;
        }
      }
    }

    .field-block-ref:last-of-type {
      div:last-of-type {
        a.btn:after {
          content: "\f062";
          font-family: $font-family-font-awesome;
          color: white;
          font-weight: 900;
          display: inline-block;
          -webkit-transform: rotate(40deg);
          -moz-transform: rotate(40deg);
          -o-transform: rotate(40deg);
          -ms-transform: rotate(40deg);
          transform: rotate(40deg);
        }
      }
    }
  }
}
