@import 'variables';

.ps-simple_content-openy-memberships-button {
  .field-prgf-description {
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  a {
    width: 100%;
    font-family: $font-family-cachet !important;
    font-weight: normal !important;
    text-transform: uppercase;
    background-color: $dark-blue;
    color: $white;
    border: 2px solid $dark-blue;

    padding: 19px;
    font-size: 18px;
    line-height: 27px;

    @media all and (min-width: 1060px) {
      font-size: 24px;
      line-height: 36px;
      padding: 15px;
    }

    &.btn-join {
      color: $white;
      background-color: $dark-purple;
      border: 2px solid $dark-purple;

      &:hover,
      &:active,
      &:focus {
        background-color: lighten($dark-purple, 10%);
        border-color: lighten($dark-purple, 10%);
      }
    }
  }
  .btn-list {
    display: flex;
  }
  .free-trial {
    margin-left: 10px;
    background: white;
    color: $dark-purple;
    &:hover,
    &:focus {
      background: white;
      color: $dark-purple;
    }
  }
}
