@import 'variables';

.ps-simple_content-openy-memberships-button {
  a {
    width: 100%;
    font-family: $font-family-cachet !important;
    font-weight: normal !important;
    text-transform: uppercase;
    background-color: $dark-purple;
    border: none;

    padding: 19px;
    font-size: 18px;
    line-height: 27px;

    @media all and (min-width: 1060px) {
      font-size: 24px;
      line-height: 36px;
      padding: 15px;
    }

    &:hover {
      background-color: lighten($dark-purple, 10%);
      border-color: lighten($dark-purple, 10%);
    }
  }
}
