@import 'variables';

.ps-webform-openy-memberships-free-trial {
  form {
    padding-top: 0;

    label {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
      margin: 0;
      padding-bottom: 15px;
    }

    @media all and (min-width: 1060px) {
      label {
        font-size: 14px;
        line-height: 21px;
      }
    }

    .webform-flexbox {
      margin: 0;

      padding-top: 0;
      justify-content: space-between;
      .webform-flex {
        flex: none;
        width: 100%;

        .webform-flex--container {
          margin: 0;

          .form-item {
            margin: 0;
          }
        }
      }

      @media all and (min-width: 700px) {
        padding-top: 30px;

        .webform-flex {
          width: 48%;
        }
      }
    }

    .form-tel, .form-control {
      height: 50px;
      width: 100%;
      border: 1px solid $nobel;
      border-radius: 0;
      font-size: 12px;
      text-shadow: none;
      padding: 6px 12px 6px 5px;
      margin: 0;
    }

    .form-type-select {
      margin: 0;

      @media all and (min-width: 700px) {
        padding-top: 30px;
      }
    }

    .edit-actions-submit {
      text-align: center;

      input {
        font-family: "Cachet", Verdana, Geneva, sans-serif !important;
        font-weight: normal !important;
        text-transform: uppercase;
        background-color: $dark-purple;
        color: white;
        margin-top: 30px;
        padding: 15px 30px;
        font-size: 16px;
        line-height: 30px;

        @media all and (min-width: 1060px) {
          font-size: 24px;
          line-height: 36px;
          padding: 15px 40px;
        }

        &:hover {
          background-color: $dark-purple;
          border-color: $dark-purple;
        }
      }
    }
  }
}
