@import 'variables';

.membership-app {
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
  .navigation {
    background: $white;
    border-top: 5px solid rgba(112, 112, 112, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: right;
    z-index: 3;
    @media screen and (max-width: 767px) {
      border: none;
      .container {
        padding: 0;
        margin: 0;
      }
    }
  }

  .btn {
    &.btn-next {
      padding: 15px 40px;
      background: $dark-purple 0% 0% no-repeat padding-box;
      border-radius: 5px;
      text-align: center;
      font: 24px/26px 'Cachet Medium', Verdana, sans-serif;
      letter-spacing: 0;
      color: $white;
      text-transform: uppercase;
      margin: 10px;
      @media screen and (max-width: 767px) {
        border: none;
        border-radius: 0;
        font: 18px/27px 'Cachet Medium', Verdana, sans-serif;
        margin: 0;
        width: 100%;
      }
    }
  }
  h1.title {
    color: $aubergine;
    margin: 15px 0px;
    font: 36px/54px 'Cachet Medium', Verdana, sans-serif;
    @media (min-width: 768px) {
      font: 48px/72px 'Cachet Medium', Verdana, sans-serif;
    }
  }
  .description {
    margin-bottom: 30px;
    color: $aubergine;
    font: Regular 14px/21px Verdana;
  }
  h3 {
    font: 24px/36px "Cachet Medium", Verdana, sans-serif;
    letter-spacing: 0px;
    color: $aubergine;
    &.regular {
      font-weight: normal !important;
    }
  }
  h2 {
    font: 24px/36px "Cachet Medium", Verdana, sans-serif;
    letter-spacing: 0px;
    color: $aubergine;
    padding: 10px 0px;
    @media (min-width: 768px) {
      font: 36px/36px "Cachet Medium", Verdana, sans-serif;
    }
  }

  // BranchSelector.
  a.view-loactions {
    display: inline-flex;
    align-items: center;
    svg {
      margin: 5px;
    }
    font: Bold 14px/21px Verdana;
    letter-spacing: 0;
    color: $dark-blue;
  }

   .description {
     display: flex;
     align-items: center;
     justify-content: space-between;
   }

  // DiscountFinder.
  .income-wrapper {
    align-items: center;
    border: 1px solid $white-smoke;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 15px;
    .price {
      font-weight: 600;
      margin-right: 15px;
      margin-left: auto;
    }
    h3 {
      font: Bold 14px/21px Verdana;
      letter-spacing: 0px;
      color: $aubergine;
    }
  }
  .addon-wrapper {
    align-items: center;
    border: 1px solid $white-smoke;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 15px;
    margin-bottom: 15px;
    .price {
      font-weight: 600;
      margin-right: 15px;
      margin-left: auto;
    }
    h3 {
      font: Bold 14px/21px Verdana;
      letter-spacing: 0px;
      color: $aubergine;
    }
    button {
      border: none;
      border-radius: 5px;
      background-color: $dark-blue;
      color: $white;
      text-transform: uppercase;
      padding: 10px;
      margin-left: auto;
      width: 90px;
      &.remove-income {
        font-size: 20px;
        color: $dark-blue;
        background-color: transparent;
        width: auto;
      }
    }
    .checkbox {
      padding: 0 15px;
      margin: 2px 0 0;
    }
  }
  .add-addon {
    display: inline-block;
    color: $dark-blue;
    background-color: transparent;
    margin-right: 10px;
    padding-left: 0;
    border:  none;
  }
  .benefits {
    h3 {
      margin-bottom: 30px;
    }
    .addon-wrapper {
      justify-content: flex-start;
      align-items: flex-start;
      border: none;
      padding: 0px;

      .description {
        width: 100%;
        margin-bottom: 0px;
        h3 {
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 15px;
        }
      }
    }
  }
  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    &:hover input ~ .checkmark {
      background-color: $whisper;
    }
    input:checked ~ .checkmark {
      background-color: $green;
      border: 2px solid $green;
    }
    .checkmark::after {
      left: 4px;
      top: -1px;
      width: 7px;
      height: 13px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    input:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    background-color: $white;
    border: 2px solid $shuttle-grey;
    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  .discount {
    display: flex;
    .checkbox {
      padding: 0 15px;
      margin-top: 2px;
    }
    h3 {
      color: $aubergine;
      font: Bold 14px/21px Verdana;
      letter-spacing: 0px;
      margin-bottom: 15px;
    }
  }
  .adjustments {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .description {
      display: block;
      padding-left: 0;
      margin-bottom: 0px;
      p {
        margin-bottom: 15px;
      }
    }
    h2 {
      font: 24px/36px "Cachet Medium", Verdana, sans-serif;
      letter-spacing: 0px;
      color: $aubergine;
      padding: 10px 0px;
      border-top: 5px solid $deep-sky-blue;
      @media (min-width: 768px) {
        font: 36px/36px "Cachet Medium", Verdana, sans-serif;
      }
    }
    .discounts {
      width: 50%;
      padding: 10px;
      @media (max-width: 960px) {
        width: 100%;
      }
      > h2 {
        margin-bottom: 15px;
        @media (min-width: 768px) {
          margin-bottom: 30px;
        }
      }

      .annual-income {
        align-items: center;
        border: 1px solid $white-smoke;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        margin-bottom: 30px;

        label {
          width: 100%;
          margin: 0 0 15px;
        }

        input {
          padding: 10px;
          margin-right: 10px;
          width: calc(100% - 100px);
        }
        button {
          border: none;
          border-radius: 5px;
          background-color: $dark-blue;
          color: $white;
          text-transform: uppercase;
          padding: 10px;
          margin-left: auto;
          width: 90px;
          &.remove-income {
            font-size: 20px;
            color: $dark-blue;
            background-color: transparent;
            width: auto;
          }
        }
      }

      .discount-options {
        margin-bottom: 15px;
        > h3 {
          margin-bottom: 30px;
        }
      }
    }
    .addons {
      padding: 10px;
      width: 50%;
      @media (max-width: 960px) {
        width: 100%;
      }
      > h2 {
        margin-bottom: 15px;
        @media (min-width: 768px) {
          margin-bottom: 30px;
        }
      }
      .members {
        margin-bottom: 15px;
        @media (min-width: 768px) {
          margin-bottom: 30px;
        }
      }
    }
  }

  // Family.
  .family-wrapper {
    border: 1px solid $white-smoke;
    margin-bottom: 10px;
  }
  .label-row {
    display: flex;
    padding: 20px;
    align-items: center;
    .label {
      width: 200px;
      text-align: left;
      font: Bold 14px/21px Verdana;
      letter-spacing: 0;
      color: $aubergine;
    }
  }

  // IntegerMinusPlus.
  .int-pm {
    display: inline-flex !important;
    align-items: center;
    .int-pm-value.int-pm-value {
      border: 1px solid $dim-grey;
      padding: 15px;
      width: 50px;
      height: 50px;
    }
    .int-pm-btn.int-pm-btn {
      margin: 5px;
      background-color: transparent !important;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      border: none !important;
      position: relative;
      color: transparent;
      font-size: 12px;
      line-height: 12px;
      font-weight: bold;
      &::before {
        content: '';
        color: $dark-blue;
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 8px;
        left: 8px;
        padding: 1px 2px;
        border: 2px solid $dark-blue;
        border-radius: 50%;
      }
      &.int-pm-decrement {
        &::before {
          content: '-';
        }
      }
      &.int-pm-increment {
        &::before {
          content: '+';
        }
      }
      &.disabled {
        color: transparent;
        &.int-pm-increment {
          &::before {
            border: 2px solid rgba(0, 96, 175, 0.5);
            color: rgba(0, 96, 175, 0.8);;
          }
        }
        &.int-pm-decrement {
          &::before {
            border: 2px solid rgba(0, 96, 175, 0.5);
            color: rgba(0, 96, 175, 0.8);;
          }
        }
      }
    }
  }
  // Location.
  .location {
    background: $white 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: 2px solid $dark-blue;
    cursor: pointer;
    display: flex;
    margin: 5px 0;
    padding: 10px 10px 10px 10px;
    position: relative;
    height: 100%;
    @media screen and (min-width: 768px) {
      margin: 0;
      padding: 10px 10px 10px 10px;
    }
    .radio {
      border: 1px solid $shuttle-grey;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      padding: 2px;
      &.active::after {
        border-radius: 50%;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-color: $shuttle-grey;
      }
    }
    &.active {
      .radio {
        border: 1px solid $white;
        &.active::after {
          background-color: $white;
        }
      }
      background: $dark-blue;
      .content {
        .name {
          color: $white;
        }
        .address {
          color: $white;
        }
      }
    }
    .radio-wrap {
      min-width: 30px;
      margin-top: 6px;
    }
    .content {
      min-width: 100%;
      .name {
        color: $dark-blue;
        font: Bold 12px/18px Verdana;
        letter-spacing: 0;
        margin-bottom: 5px;
        text-align: left;
        @media screen and (min-width: 768px) {
          font: Bold 14px/21px Verdana;
          margin-bottom: 15px;
        }
      }
      .address {
        font: 10px/15px Verdana;
        color: $aubergine;
        margin-bottom: 0;
        @media screen and (min-width: 768px) {
          font: 12px/21px Verdana;
        }
      }
    }
  }
  // Locations.
  .locations {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    @media screen and (min-width: 768px) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  .location-wrapper {
    width: 50%;
    padding: 0 5px 10px;
    @media screen and (min-width: 768px) {
      padding: 10px;
      width: 33.3%;
    }
  }
  // Product.
  $vs-state-active-bg: $dark-blue;
  @import "../../modules/openy_memberships_front/app/node_modules/vue-select/src/scss/vue-select.scss";
  .vs__dropdown-toggle {
    padding: 10px 5px;
  }
  .best-value {
    background: $green;
    color: $white;
    text-transform: uppercase;
    display: flex;
    height: 30px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    font: 12px/18px 'Cachet Medium', Verdana;

    margin: 15px 0 0;
    &::after {
      content: '';
      display: block;
      background-color: $white;
      width: 30px;
      height: 30px;
      transform: translate(20px, 0px) rotate(45deg);
    }
    &::before {
      transform: translate(-20px, 0px) rotate(45deg);
      background-color: $white;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
    }
  }
  .product {
    padding: 15px;
    border: 1px solid $shuttle-grey;
    border-top: 5px solid $dark-blue;
    margin-bottom: 30px;
    h2 {
      text-align: left;
      font: 24px/36px 'Cachet Medium', Verdana, sans-serif;
      letter-spacing: 0;
      color: $aubergine;
      margin: 0 0 5px;
      padding: 0;
      @media (min-width: 768px) {
        font: 36px/54px 'Cachet Medium', Verdana, sans-serif;
        margin: 0 0 15px;
      }
    }
    .product-description {
      margin-bottom: 5px;
      @media (min-width: 768px) {
        margin-bottom: 15px;
      }
    }
    .select {
      background: $dark-purple 0% 0% no-repeat padding-box;
      border: 2px solid $dark-purple;
      color: $white;
      cursor: pointer;
      display: block;
      font: 18px/27px 'Cachet Medium', Verdana, sans-serif;
      letter-spacing: 0;
      margin: 10px -15px -15px;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      @media (min-width: 768px) {
        font: 24px/36px 'Cachet Medium', Verdana, sans-serif;
      }
    }
    .product-columns {
      display: flex;
      flex-wrap: wrap;
      > div {
        @media (max-width: 960px) {
          min-width: 100%;
        }
      }
      margin: 0 -5px;
      .options {
        padding-top: 5px;
        @media (min-width: 768px) {
          padding-top: 15px;
        }
        .item {
          display: flex;
          margin-bottom: 15px;
          .price-title {
            padding-right: 10px;
          }
          .price-value {
            text-align: right;
            margin-left: auto;
            white-space: nowrap;
          }
        }
        .branch {
          color: $aubergine;
          font: Bold 14px/21px Verdana;
          letter-spacing: 0;
          padding: 0px 0px 5px;
          @media (min-width: 768px) {
            padding: 0px 0px 15px;
          }
        }
        .addon {
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          .addon-title {
            text-align: left;
          }
          .addon-price {
            margin-left: auto;
            text-align: right;
          }
          p {
            margin: 0;
          }
          padding-bottom: 10px;
        }
      }
      .title {
        background-color: $white-smoke;
        color: $aubergine;
        font: 14px/21px 'Cachet Medium', Verdana, sans-serif;
        padding: 0 5px;
        @media (min-width: 768px) {
          font: 18px/27px 'Cachet Medium', Verdana, sans-serif;
        }
      }
      .price-title, .price-value {
        padding-top: 0;
      }
      > div {
        padding: 5px;
        flex: 1;
        .title {
          text-align: center;
        }
      }
    }
  }
  // Summary.
  .summary-wrapper,
  .success-wrapper {
    .product-title {
      margin-bottom: 15px;
    }
    .product-description {
      margin-bottom: 15px;
    }
    .product-columns {
      margin-left: -7.5px;
      margin-right: -7.5px;

      > div {
        padding: 7.5px;
      }

      .options {
        .item {
          display: flex;
          margin-bottom: 15px;

          .option-title {
            padding-right: 10px;
          }

          .option-price {
            text-align: right;
            margin-left: auto;
            white-space: nowrap;
          }
        }
      }

      .find-more-wrapper {
        border-top: 1px solid $shuttle-grey;
        margin-top: 15px;
        padding-top: 15px;
        margin-bottom: 15px;

        .actions {
          display: flex;
        }

        .find-more {
          font-weight: bold;
          padding: 0;
        }

        .clear-all {
          margin-left: auto;
          margin-right: 0;
          padding: 0;
        }

        .info {
          margin-top: 15px;
          font-size: 12px;

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  //JoinNow
  .billing {
    .billing-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    .field {
      padding: 10px;
      margin-bottom: 15px;
      &.required {
        label::after {
          content: '*';
          color: $free-speech-red;
          display: inline;
        }
      }
      &.error {
        .error {
          display: block;
        }
        input {
          border: 1px solid $free-speech-red;
        }
      }
      .error {
        display: none;
        color: $free-speech-red;
      }
      label {
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
        font: Bold 14px/21px Verdana;
        letter-spacing: 0px;
        color: $aubergine;

      }
      min-width: 50%;
      @media (max-width: 960px) {
        min-width: 100%;
      }
      input {
        background: $white 0% 0% no-repeat padding-box;
        border: 1px solid $shuttle-grey;
        opacity: 1;
        padding: 15px 10px;
        font: Regular 14px/21px Verdana;
        letter-spacing: 0px;
        color: $aubergine;
        opacity: 1;
        width: 100%;
      }
    }
  }
  // Success.
  .print-wrapper {
    margin-bottom: 15px;
    a {
      font: Bold 14px/21px Verdana;
      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}

// Summary PDF.
.openy-memberships--pdf--summary {
  .header {
    margin-bottom: 20px;

    .branding {
      float: left;
      width: 15%;
    }

    .title {
      font: 20px/26px 'Cachet Medium', Verdana, sans-serif;
      float: left;
      text-align: left;
      padding: 50px 20px 0;
      width: 75%;
    }
  }
  .product-columns {
    overflow: wrap;
    th {
      background-color: $white-smoke;
      padding: 5px;
      font-size: 12px;
    }
    td {
      font-size: 12px;
      padding: 5px;
      vertical-align: top;
      width: 30%;
    }
    td:nth-child(2) {
      width: 40%;
    }
    table {
      overflow: wrap;
      td {
        padding: 5px;
        width: 50%;
      }
      td:nth-child(2) {
        text-align: right;
      }
    }
  }
  .find-more-wrapper {
    border-top: 1px solid $very-light-grey;
  }
}
