@import 'variables';

#block-memberships-mobile-menu, #block-rose-memberships-mobile-menu {
  @media all and (min-width: 1060px) {
    display: none;
  }

  > .wrapper-field-paragraph {
    display: none;
  }

  h2 {
    font-family: $font-family-cachet;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    margin: 0;
    cursor: pointer;

    padding: 19px 22px;

    @media all and (min-width: 600px) {
      padding: 19px 52px;
    }
  }

  h2:before {
    font-family: $font-family-font-awesome;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f00a"; //fa-th
    font-weight: 900;
    padding-right: 17px;
  }

  h2.menu-open:before {
    content: "\f00d"; //fa-times
  }

  .wrapper-field-paragraph.d-block {
    padding: 10px 5px;

    background-color: black;
    color: white;



    @media all and (min-width: 600px) {
      padding: 20px 35px;
      display: flex !important;
      flex-wrap: wrap;
      justify-content: space-between;

      .field-paragraph:nth-child(1) {
        width: 100%;
      }

      .field-paragraph:nth-child(2) {
        width: 50%;
        padding-right: 20px;
      }

      .field-paragraph:nth-child(3) {
        width: 50%;
      }
    }
  }
}

.rose_based_theme {
  #block-rose-memberships-mobile-menu {
    h2:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-size: 17px;
    }
  }
}
