@import 'variables';

.ps-sidebar_menu-openy-memberships-sidebar-menu {
  margin-top: 10px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      width: 49%;

      border-top: 1px solid $shuttle-grey;
      padding: 15px 15px 15px 0;

      a {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold !important;
        color: white;
      }
    }
  }

  @media all and (min-width: 600px) {
    margin-top: 20px;
  }

  @media all and (min-width: 1060px) {
    margin-top: 30px;

    ul {
      display: initial;

      li {
        width: initial;

        a {
          font-size: 14px;
          line-height: 21px;
          color: $dark-blue;
        }
      }
    }
  }
}
